.reper {
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  position: relative;
}

.navigation {
  list-style: none;
  position: fixed;
}
.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
    position: fixed;
    z-index: 1;
}
.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .reper {
    left: 200px;
}
.jebesga {
  padding-top: 38px;
}
